* {
    margin: 0;
}

.img-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    /* background-color: black; */
    /* color: white; */
    padding: 20px;
    max-width: 80%;
    margin: 200px auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    min-width: 800px;
}

.images {
    /* border: 2px solid white; */
    border-radius: 10px;
}

.images img {
    max-width: 100%;
    border-radius: 10px;
    height: 400px;
}

.left, .right {
    height: 25px;
    cursor: pointer;
    transition: 0.2s all;
    border-radius: 20px;
    padding: 5px;
}

.left:hover, .right:hover {
    background-color: rgb(94, 94, 94);
}

.selector {
    background-color: gray;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
}

/* .selector:hover {
    background-color: rgb(174, 252, 226);
} */

.bottom {
    display: flex;
    gap: 20px;
}